# ignore generated html files,
#UNK*
#WAVECAR
#CHGCAR
Calculations
example/01_PbTiO3_example/CENT/wannier_data/wannier_ext
example/01_PbTiO3_example/CENT/wannier_data/wannier_val
example/01_PbTiO3_example/FE/wannier_data/wannier_ext
example/01_PbTiO3_example/FE/wannier_data/wannier_val
# except foo.html which is maintained by hand
#!foo.html
