# ignore generated html files,
#UNK*
#WAVECAR
#CHGCAR
**/.DS_Store
relevant_document
Calculations
old_version
example/01_PbTiO3_example/CENT/wannier_data/wannier_AO
example/01_PbTiO3_example/CENT/wannier_data/wannier_MO
example/01_PbTiO3_example/FE/wannier_data/wannier_AO
example/01_PbTiO3_example/FE/wannier_data/wannier_MO
example/02_N2_example/wannier_data/wannier_AO
example/02_N2_example/wannier_data/wannier_MO
# except foo.html which is maintained by hand
#!foo.html
